<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dict" class="com.higgsup.intern.spring.demo.beans.Dict">

    </bean>
    <bean id="dictGUI" class="com.higgsup.intern.spring.demo.beans.DictGUI">
        <constructor-arg ref="dict"/>
    </bean>
</beans>